<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="J_poster poster-wrapper" data-setting='{
                                            "width":800,
                                            "height":270,
                                            "posterWidth":640,
                                            "posterHeight":270,
                                            "scale":0.8,
                                            "autoPlay":true,
                                            "delay":5000,
                                            "speed":300,
                                            "verticalAlign":"middle"
                                            }'>
        <ul class="poster-list">
            <li class="poster-item"><a href="javascript:;"><img src="./img/1.jpg" alt=""></a></li>
            <li class="poster-item"><a href="javascript:;"><img src="./img/2.jpg" alt=""></a></li>
            <li class="poster-item"><a href="javascript:;"><img src="./img/3.jpg" alt=""></a></li>
            <li class="poster-item"><a href="javascript:;"><img src="./img/4.jpg" alt=""></a></li>
            <li class="poster-item"><a href="javascript:;"><img src="./img/5.jpg" alt=""></a></li>
        </ul>

        <div class="poster-btn poster-prev-btn"><</div>
        <div class="poster-btn poster-next-btn">></div>
    </div>

    <script src="./jquery.js"></script>
    <script src="./carousel.js"></script>
    <script>
        Carousel.init($('.J_poster'));
    </script>

</body>
</html>